[profile.default]
src = "src"
out = "out"
libs = ["lib"]

remappings = [
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
    "@chainlink/contracts/=/home/powpow/KipuBank/lib/chainlink-brownie-contracts/contracts/",
    "@uniswap/v2-periphery/contracts/=lib/v2-periphery/contracts/"
]
